* {
  font-family: "Raleway", sans-serif;
}

.Definition {
  color: #5e6472;
  line-height: 1;
  font-size: 22px;
}

.Example {
  color: #aed9e0;
  font-weight: bold;
  font-size: 18px;
}

.PartOfSpeech {
  font-size: 22px;
  color: #5e6472;
  font-weight: bold;
  font-style: oblique 40deg;
}
