.word {
  font-family: "Quicksand", sans-serif;
  text-transform: capitalize;
  color: #5e6472;
  text-align: center;
}

.card-body {
  background-color: #e3e1db;
  margin-top: 0;
}
section {
  background: black;
}
